.statistics {
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    height: 100%;
    background-color: aqua;
}
.title {
    text-align: center;
}
.statlist {
    margin-top: 5px;
    display: flex;
    background-color: rgb(25, 125, 91);
}
.item {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}